h1 {
	color: #E8BF7B;
	text-align: center;
	margin: 1%;
}

body {
	background: #3C4C59;
	color: #E3E0D0;	
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url(background.jpg);
}

img {
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 1px;
	padding-bottom: 1px;
}

.pirate-image {
	padding: 10px;
	border: 5px solid #E8A27B;
	margin-right: 10px;
}

#images {
	justify-content: center;
	padding: 1%;
	width: 100%;
}

table {
	padding: 10px;
	border: 5px solid #E8A27B;
}

#main-header {
	margin: 1%
}

.main-title {
	text-align: center;
	padding: 10px;
	margin: 25px;
	background: rgba(112, 127, 140, .7);
	box-shadow: 10px 14px rgba(232, 162, 123, .7);
}

.navigation {
	padding: 10px;
	margin: 25px;
	background: rgba(112, 127, 140, .7);
	box-shadow: 10px 14px rgba(232, 162, 123, .7);
}

#main-nav {
	background: rgba(112, 127, 140, .7);
	box-shadow: 10px 14px rgba(232, 162, 123, .7);
}

#main-nav a {
	display: inline-block;
	margin: 10px;
	text-decoration:none;
	color: powderblue;
	font-family:Arial, Helvetica, sans-serif;
}

#main-nav li{
	text-decoration: none;
	justify-content: center;
	list-style-type: none;
	display: flex;
	width: 100%;
}

#main-nav ul{
	text-decoration: none;
	padding-left: 0px;
	display: flex;
}

#main-assignments {
	display: flex;
}

.main-image {
	float: left;
}

.assignment-row {
	content: "";
	display: table;
	clear: both;
}

.assignment-column {
	float: left;
	width: 33.32%;
}

.row {
	display: flex;
}

#columns {
	justify-content: center;
}

#column-1 {
	width: 50%;
}

#column-1 ul{
	text-decoration: none;
	padding-left: 0px;
	display: flex;
}

#column-1 li {
	text-decoration: none;
	justify-content: center;
	list-style-type: none;
	display: flex;
	width: 100%;
}

#column-2 {
	width: 50%;
}

#column-2 ul{
	text-decoration: none;
	padding-left: 0px;
	display: flex;
}

#column-2 li {
	text-decoration: none;
	justify-content: center;
	list-style-type: none;
	display: flex;
	width: 100%;
}

.content {
	padding: 10px;
	margin: 1%;
	background: rgba(112, 127, 140, .5);
	box-shadow: 10px 14px rgba(232, 162, 123, .6);
}

.sub-content {
	background-color: #E8A27B;
	padding: 11%;
	margin: 1%;
	display: inline-block;
}

.assignment {
	padding: 10px;
	margin: 25px;
	background: #707F8C;
	box-shadow: 10px 14px #E8A27B;
}

.assignment-japan {
	padding: 10px;
	margin: 25px;
	background: #707F8C;
	box-shadow: 10px 14px #E8A27B;
}

.assignment-japan img {
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	display:inline-block;
}

.assignment img {
	width: 97%;
}

a {
	display: flex;
	text-decoration:none;
	color: powderblue;
	font-family:Arial, Helvetica, sans-serif;
}

a:hover {
	color: red;
}

.footer-content {
	background-color: #3C4C59;
	justify-content: center;
}

#copyright h2{
	text-align: center;
	margin-top: 1px;
	margin-bottom: 1px;
}

#copyright h3{
	text-align: center;
	margin-top: 1px;
	margin-bottom: 1px;
}

#address {
	display: flex;
	justify-content: right;
	width: 100%;
}

#text {
	width: fit-content;
	font-size: 110%;
}

@media only screen and (max-width: 768px) {
	#main-nav ul{
		text-decoration: none;
		padding-left: 0px;
		display: grid;
	}

	.assignment-row {
		display: grid;
	}

	.assignment-column {
		float: center;
		width: 100%;
	}

	.row {
		display:block;
	}
	
	#address {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	#column-1 {
		width: 100%;
	}
	
	#column-1 ul{
		text-decoration: none;
		padding-left: 0px;
		display: grid;
	}
	
	#column-1 li {
		text-decoration: none;
		justify-content: center;
		list-style-type: none;
		display: flex;
		width: 100%;
	}
	
	#column-2 {
		width: 100%;
	}
	
	#column-2 ul{
		text-decoration: none;
		padding-left: 0px;
		display: grid;
	}
	
	#column-2 li {
		text-decoration: none;
		justify-content: center;
		list-style-type: none;
		display: flex;
		width: 100%;
	}

	#images {
		justify-content: center;
		padding: 1%;
		width: 100%;
		display:grid;
		padding-top: 1px;
		padding-bottom: 1px;
	}
}