h1 {
	color: #E8BF7B;
	text-align: center;
}

body {
	background: #3C4C59;
	color: #E3E0D0;	
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image: url(background.jpg);
}

img {
	
	margin-right: 10px;
}

table {
	padding: 10px;
	border: 5px solid #E8A27B;
	background-color: #E3E0D0;
}

.assignment {
	display:flex;
	padding: 10px;
	margin: 25px;
	background: #707F8C;
	box-shadow: 10px 14px #E8A27B;
}

.assignment img {
	width: 450px;
	
}

a {
	text-decoration:none;
	color: powderblue;
	font-family:Arial, Helvetica, sans-serif;
}

a:hover {
	color: red;
}