body {
    background: darkred;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#main-header {
    background-color: black;
    margin-right: -2%;
    margin-left: -2%;
    margin-top: -2%;
}

#logo {
    width: 300px;
    height: 60px;
}

#main-nav {
	background: #73000a;
    font-weight: bold;
    position: absolute;
    z-index: 50;
    width: 102%;
}

#main-nav a:hover {
	background-color: #CC2E40;
    font-weight: bold;
}

#main-nav a {
	display: inline-block;
	margin: 10px;
	text-decoration:none;
	color: white;
	font-family:Arial, Helvetica, sans-serif;
}

#main-nav li{
	text-decoration: none;
	justify-content: center;
	list-style-type: none;
	display: flex;
	width: 100%;
}

#main-nav li:hover {
    background: #570008;
}

#main-nav ul{
	text-decoration: none;
	padding-left: 0px;
	display: flex;
}

#secondary-nav {
    color: white;
    font-size: 60%;
    float: right;
    margin-right: 2.5%;
    padding-left: 65%;
    margin-top: 2%;
}

#secondary-nav a {
    text-decoration: none;
    color: white;
}

#title-search input{
    position:relative;
    float: right;
    margin-top: 1%;
    margin-right: 3%;
}

#title-search img {
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
}

#first-row {
    background-color: white;
}

#first-row h1 {
    position: relative;
    left: 20%;  
    right: 1%;
    width:fit-content;
    color: white;
    background-color: #73000a;
    font-weight: bolder;
    padding-right: 1px;
    margin-right: 1px;
}

#paint {
    width:100%;
    position: relative;
}

#first-text {
    background-color: white;
    color: black;
    position: relative;
    width: 40%;
    top: 45%; 
    left: 0%;
    padding-bottom: 7%;
    padding-left: 25%;
    padding-right: 25%;
}

#second-row {
    width: 100%;
    background-color: #73000a;
    display: flex;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#second-row img {
    width: 60%
}

#second-row p {
    margin-top: 35%;
    margin-left: 40px;
    width: 20%;
}

#third-row {
    display: flex;
    background-color: black;
}

#third-row p {
    width: 50%;
    margin-left: 5%;
    color: white;
}

#third-row h1 {
    color: white;
    margin-left: 5%;
}

#third-row button {
    color: white;
    background-color: #570008;
    padding: 1%;
    margin-left: 5%;
    justify-self: center;
}

#fourth-row {
    display: flex;
    background-color: white;
}

#fourth-row img {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
}

#fourth-row p {
    margin-left: 5%;
}

#fourth-row h1 {
    margin-left: 5%;
    font-size: 350%;
    color:#570008
}

#fourth-row button {
    margin-left: 5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
}

#fifth-row {
    background-color: white;
    margin-top: 0px;
}

#fifth-row h2{
    margin-left: 30%;
    font-size: 400%;
    color:#570008;
    font-family:'Times New Roman', Times, serif;
}

#fifth-row ul {
    text-decoration: none;
    list-style-type: none;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}

#fifth-row li {
    width: 20%;
    justify-content: center;
    margin:2%;
    display: inline-block;
}

#sixth-row {
    display: flex;
    background-color: #570008;
}

#the-rest {
    margin-top: 10%;
    margin-left: 1%;
    color: white;
}

#the-rest button {
    background-color: black;
    color: white;
    padding: 2%;
}

#seventh-row {
    display: flex;
    background-color: white;
}

#the-text {
    width: 60%;
    margin-left: 10%;
}

#the-text h1 {
    font-family: 'Times New Roman', Times, serif;
    color:#73000a;
}

#the-text button {
    color: white;
    background-color: #73000a;
    padding: 2%;
}

#eigth-row {
    display: flex;
    background-color: #1F414D;
}

#eigth-text {
    margin-top: 1%;
    margin-left: 1%;
    color: white;
}

#eigth-text button {
    background-color:#73000a;
    color: white;
    padding: 2%;
}

#ninth-row {
    size: 1450 700;
}

#the-good-stuff {
    background-color: #73000a;
    color: white;
    margin-top: 25%;
    margin-bottom: 5%;
    width: 40%;
    padding: 3%;
    margin-left: 3%;
}

#the-good-stuff button {
    color: white;
    background-color: black;
    padding: 2%;
}

#tenth-row {
    display: flex;
    background-color: white;
}

#tenth-text {
    margin-top: 1%;
    margin-left: 1%;
    color: black;
}

#tenth-text h1 {
    color:  #73000a;
}

#tenth-text button {
    background-color:#73000a;
    color: white;
    padding: 2%;
}